.Navigation-bar {
    background-color: steelblue;
}

.Navigation-bar a {
    color: yellow;
    font-weight: bold;
    text-transform: uppercase;
}

.row-header {
    margin: 0 auto;
    padding: 0 auto;
}

.row-content {
    margin: 0 auto;
    padding: 50px 0 50px 0;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.jumbotron {
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background: #396b91;
    color: floralwhite;
    border-radius: unset;
}

